<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Welcome | Go Elearning</title>

    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <div class="container mt-5">
      <h3>Welcome, {{ .nm_pengguna }}</h3>
    </div>

    <div class="container mt-3">
      <h2>List Ujian</h2>
      <hr />
      <table class="table table-bordered mt-2 text-center">
        <thead>
          <tr>
            <th>Nama Ujian</th>
            <th>Waktu Mulai</th>
            <th>Waktu Selesai</th>
            <th>Durasi</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          {{ range .list_paket_soal }}
          <tr>
            <td class="text-left">{{ .Text }}</td>
            <td>{{ .WaktuMulai }}</td>
            <td>{{ .WaktuSelesai }}</td>
            <td>{{ .WaktuPengerjaan }} Menit</td>
            <td>
              <a
                href="/test?id={{ .IdPaketSoal }}"
                class="btn btn-info text-light"
                >Masuk</a
              >
            </td>
          </tr>
          {{ end }}
        </tbody>
      </table>
    </div>
    <div class="container mt-5">
      <hr />
      <a class="btn btn-primary" href="/logout" role="button">LOGOUT</a>
    </div>
  </body>
</html>
