<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Welcome | Go Elearning</title>

    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />

    <style>
      .container {
        max-width: 500px;
      }
    </style>
  </head>
  <body>
    <div class="container mt-5">
      <form action="/login" method="post">
        <h4>SIGN IN</h4>
        <p>Masukkan username dan password anda</p>
        <hr />

        {{ if .error }}
        <div class="alert alert-danger">{{ .error }}</div>
        {{ end }}

        <div class="form-group">
          <label>Username</label>
          <input
            type="text"
            name="username"
            class="form-control {{ if .validation.Username }} is-invalid {{ end }}"
            autocomplete="off"
          />
          <div class="invalid-feedback">{{ .validation.Username }}</div>
        </div>

        <div class="form-group">
          <label>Password</label>
          <input
            type="password"
            name="password"
            class="form-control {{ if .validation.Password }} is-invalid {{ end }}"
            autocomplete="off"
          />
          <div class="invalid-feedback">{{ .validation.Password }}</div>
        </div>

        <button type="submit" class="btn btn-success btn-block">SIGN IN</button>
      </form>
    </div>
  </body>
</html>
