<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Welcome | Go Elearning</title>

    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
  </head>
  <body class="bg-secondary">
    <div class="container mt-9">
      <div class="card mt-5 p-2">
        <div class="header bg-dark text-center text-light">
          <!-- <p>Nomor Soal : 1</p> -->
          <h3>Nomor Soal 1</h3>
        </div>
        <div class="body bg-light">
          <!-- <br />
          <p>Nomor Soal : 1</p> -->
          <pre
            style="
              background: white;
              border: 1px solid #ccc;
              border-radius: 4px;
              display: block;
              padding: 9.5px;
              margin-bottom: 10px;
              white-space: pre-wrap;
              word-wrap: break-word;
            "
          >
          {{ .data_soal }}
   	</pre
          >
        </div>
      </div>
    </div>
    <div class="container mt-9">
      <!-- <div class="card mt-3 p2"> -->
        {{ range .list_pilihan_soal  }}
      <div class="input-group mt-3">
        <div class="input-group-prepend">
          <div class="input-group-text">
            <input
              type="radio"
              aria-label="Radio button for following text input"
            />
          </div>
        </div>
        <pre
          class="form-control"
          style="
            background: white;
            border: 1px solid #ccc;
            border-radius: 4px;
            display: block;
            white-space: pre-wrap;
            word-wrap: break-word;
          "
        >{{ . }}
      </div>
      {{ end }}
    </div>

    <div class="container mt-5">
      <hr />
      <a
      href="/test?id={{ .idPaketSoal }}&no={{ .no }}"
      class="btn btn-info text-light"
      >Next</a
    >
      <!-- <a class="btn btn-primary" href="/logout" role="button">NEXT</a> -->
    </div>
  </body>
</html>
